.nav-item{
    padding-left: 2%;
}

.navbar-brand{
    padding-right: 67%;
}

.experiencia{
    padding-left: 82%;
    padding-right: 1%;
}

.bx{
    padding: 0.9%;
    padding-left: 0%;
    padding-top: 2%;
    font-size: 180%;
}

.card-body{
    padding-bottom: 2%;
    margin-right: 10%;
    margin-left: 1%;
    font-size: 120%;
}

.footer{
    justify-content: center;
    display: flex;
    position:fixed;
    left:0px;
    bottom: 0%;
    height: 56px;
    width:100%;
    background:#999;
 }

 .img{
    justify-content: center;
    text-align: center;

}

 .name{
    text-align: center;
    justify-content: center;
    padding-top: 5%;
 }

 .present{
    text-align: center;

 }

.nav-link{
    text-align: center;
    
    display: flex;
}

