.nav-item{
    padding-left: 1.5%;

}

.navbar-nav{
    position: absolute;
    right: 1.8%;
}

.experiencia{
    padding-left: 82%;
    padding-right: 0.2%;
}

.bx{
    padding: 0.9%;
    padding-left: 0%;
    padding-top: 1%;
    font-size: 180%;
}


.card-body{
    padding-bottom: 2%;
    margin-right: 10%;
    margin-left: 1%;
    font-size: 120%;
}


.bloque {
    position: absolute;
    right:20%;
    top: 14%;
    justify-items: center;
    flex-direction: column;
    text-align: justify
    border: 4px;
    border-radius: 18px;
    background-color:darkred;
    width: 50%;
    height: 52%;
    padding: 20px;
}

.pd{
    color: whitesmoke;
    font-size:3dvw;
}

ul{
    color: whitesmoke;
}

  

.footer{
    justify-content: center;
    display: flex;
    position:fixed;
    left:0px;
    bottom: 0%;
    height: 30px;
    width:100%;
    background-color: #999;
 }

.footer2{
    position:fixed;
    left: 0.5%;
    bottom: 18.4%;
    height: 75px;
    width: 99%;
    
}

.footer-title{
    padding-bottom: 0%;

}


.bxl-facebook-square{
    color: #3b5998;
}

.bxl-instagram{
    color: #517fa4;
    padding-left: 25px;
}

.bxl-youtube{
    color: #c4302b;
}

.bxl-github{
    color: #0e76a8;
    padding-left: 35px;
    padding-top: 18px;
}

.img{
    border: 6px;
    border-style:solid;
    border-color: black;
    border-radius: 30px;
    left: 56.4%;
    bottom: 11%;
    width: 40%;

    position: absolute;
    

}

.background-img{
    justify-content: center;
    height: 921px;
    width: 100%;

}

li{
    padding: 0.3%;
    
}

.ul{
    display: flex;
    flex-direction: column;
    position:absolute;
    color: white;
    padding: 0px;
    padding-top: 8px;
    top: 16.4%;
    font-size:1.5dvw;
    
}

.datos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
}

