.nav-item{
    padding-left: 2%;
    margin: 0.4%;
}

.nav-link:hover{
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px
    #ff96ad,
}

.experiencia{
    padding-left: 82%;
    padding-right: 0.2%;
}

.bx{
    padding: 0.9%;
    padding-left: 0%;
    padding-top: 2%;
    font-size: 180%;
}

.card-body{
    padding-bottom: 2%;
    margin-right: 10%;
    margin-left: 1%;
    font-size: 120%;
}

.footer{
    justify-content: center;
    display: flex;
    position:fixed;
    left: 0;
    bottom: 0%;
    height: 5vh;
    width:100%;
    background: #000;
 }

 .footer h2{
    color: whitesmoke;
 }

 .img{
    justify-content: center;
    text-align: center;

}

 .name{
    
    text-align: justify;
    justify-content: center;
    padding-top: 5%;
 }

.present{
    display: grid;
    place-items: center;
}

.nav-link{
    text-align: justify;
    display: flex;
}

.nav-link:hover{
    transition: ease-in-out;
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 
    0 0 20px #ff96ad,
    0 0 50px #ff96ad;
}
