.nav-item{
    padding-left: 2%;
    margin: 0.4%;
}

.navbar-brand{
    padding-right: 67%;
}

.nav-link:hover{
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px
    #ff96ad;
}

.navbar-togler{
    display: block;
}

.experiencia{
    padding-left: 82%;
    padding-right: 0.2%;
}

.bx{
    padding: 0.9%;
    padding-left: 0%;
    padding-top: 1%;
    font-size: 180%;
}


.card-body{
    padding-bottom: 2%;
    margin-right: 10%;
    margin-left: 1%;
    font-size: 120%;
}

.bloque {
    margin-top: 50px;
    margin-bottom: 50px;
    position:relative;
    top: 22%;
    left: 38%;
    border-radius: 18px;
    background-color:rgba(59, 17, 17, 0.932);
    width: 24%;
    height: auto;
    padding: 0.8%;
}   

@media (max-width: 800px)
{
    .bloque {
        width: 100%;
        left: 0%;
    }
    
}

.footrer-main{
        position: relative !important;
    }

.pd{
    color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.lista{
    position:relative;
    color: whitesmoke;
    margin: 0px;
    font-size: 2.35vh;
    list-style: none;
}

.lista li span{
    padding: 3%;
}

.bxl-facebook-square{
    color: #3b5998;
}

.bxl-instagram{
    color: #407e96;    
}

.bxl-whatsapp{
    color: #25D366;
}



.bxl-github{
    color: #0e76a8;
}

.background-img{
    position: absolute;
    justify-content: center;
    height: 94vh;
    width: 100%;
    height: 92vh;
    

}


