.nav-link:hover{
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px
    #ff96ad;
}

footer{
    justify-content: center;
    display: flex;
    position:fixed;
    left: 0;
    bottom: 0%;
    height: 5vh;
    width:100%;
    background: #000;
 }

footer h3{
    color: whitesmoke;
}

.container {
    border-radius: 18px;
    background-color:rgba(21, 21, 21, 0.90);
    color: whitesmoke;
    width: 40%;
    height: auto;
    padding: 4px;
}   

.bloquecito {
    position:relative;  
    border-radius: 18px;
    width: 40%;
    height: auto;
    padding-top: 8px;
}   

.bloquecito ul{
    padding-left: 3.63vh;
}

.row {
    border: 2px;
    border-radius: 15px;
}