body{
    position: absolute;
}


.f-menu{
    flex-direction: column;
    text-align: left;
}

footer{
    position: relative;
    bottom: -17.5vh; 
    background: #111;
    height: 22.875vh;
    width: 100vw;
    padding-top: 25px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
    max-width: 500px;
    line-height: 90%;
    font-size: 1em;
    color: #cacdd2;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a:hover{
    transition: 130ms ease-in;
    font-size: 1.2rem;
    padding: 8px;
}

.socials a i{
    font-size: 1.3rem;
    width: 18px;
    transition: color .4s ease;

}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    position: absolute;
    bottom: -0.5vh;
    left: 0;
    right: 0;
    background: #000;
    margin: 1vh;
    padding-top: 4.7px;
    padding-bottom: 1px;
    border-top: 0;
    border-radius: 13px;
    text-align: center;
}

.footer-menu ul li{
    padding-right: 10px;
    display: block;
}    

@media (min-width:800px) {
.footer-menu ul{
  display: flex;
  bottom: 100vh;
  margin-top: 1%;
  margin-bottom: 0%;
}
}